services:
  postgres:
    image: postgres:18-alpine
    container_name: wallet-react-postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - wallet-react-db-data:/var/lib/postgresql/data
    networks:
      - npm-shared

  redis:
    image: redis:8-alpine
    container_name: wallet-react-redis
    restart: always
    command: redis-server --requirepass ramz2020
    volumes:
      - wallet-react-redis_data:/data
    networks:
      - npm-shared

  wallet-backend:
    build: ./backend
    container_name: wallet-react-backend
    restart: unless-stopped
    environment:
      PORT: ${PORT}
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
      EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY: ${EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY}
    depends_on:
      - postgres
      - redis
    expose:
      - "5007"
    networks:
      - npm-shared
volumes:
  wallet-react-db-data:
  wallet-react-redis_data:

networks:
  npm-shared:
    external: true
